@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$input-bg-color: hsl(235, 24%, 19%);

.ativado {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(9, 9, 9);
  overflow-x: hidden;
  color: white;
}
.imagemDark {
  position: absolute;
  z-index: -1;
  height: 48%;
  width: 100vw;
}
.cabecalho {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 38%;
  gap: 8%;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: 700;

  .cabecalho__todo {
    display: flex;
    justify-content: space-between;
    width: 35%;
    img {
      width: 50px;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .cabecalho__novo-todo {
    width: 35%;
    padding-bottom: 3%;
    input {
      background-color: $input-bg-color;
      box-shadow: 1px 1px 10px black;
      width: 100%;
      border: none;
      outline: none;
      color: hsl(234, 39%, 85%);
      padding: 25px;
      font-family: "Josefin Sans", sans-serif;
    }
    input::placeholder {
      font-family: "Josefin Sans", sans-serif;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;

  .todos__lista {
    width: 35%;
    height: 50.2vh;
    border-radius: 8px;
    box-shadow: 2px 2px 5px black, -2px 0px 10px black;
    overflow-y: auto;
    p {
      display: flex;
      align-items: center;
      background-color: $input-bg-color;
      border-bottom: solid 1px hsl(235, 14%, 33%);
      color: hsl(234, 39%, 85%);
      padding: 20px;
      border: none;
      gap: 15px;

      button {
        border: solid 1px hsl(235, 14%, 33%);
        border-radius: 50%;
        background-color: transparent;
        width: 30px;
        height: 30px;
        overflow: hidden;
      }
    }
    div {
      width: 100%;
      background-color: $input-bg-color;
      border-bottom: solid 1px hsl(235, 14%, 33%);
    }
    .ultima-linha {
      display: flex;
      border: none;
      justify-content: space-between;
      overflow: auto;
      div {
        display: flex;
        border: none;
        width: max-content;
      }
      p {
        color: hsl(234, 16%, 45%);
        font-size: 80%;
        font-family: "Josefin Sans", sans-serif;
      }
      button {
        margin: 12px;
        padding: 3px;
        color: hsl(234, 16%, 45%);
        font-size: 80%;
        font-family: "Josefin Sans", sans-serif;
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          color: white;
        }
        &:focus {
          color: hsl(220, 98%, 61%);
        }
      }
      .ultima-linha-3 {
        button {
          margin-right: 20px;
          padding: 3px;
          color: hsl(234, 16%, 45%);
          font-size: 80%;
          font-family: "Josefin Sans", sans-serif;
          background-color: transparent;
          border: none;
          cursor: pointer;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
  span {
    color: $input-bg-color;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}
