@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}
.imagemDark {
  position: absolute;
  z-index: -1;
  height: 48%;
}
.cabecalho {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 38%;
  gap: 10%;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.cabecalho__todo {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.cabecalho__todo img {
  width: 30px;
}
.cabecalho__novo-todo {
  width: 35%;
  padding-bottom: 3%;
}
#novo-todo {
  background-color: hsl(235, 24%, 19%);
  box-shadow: 1px 1px 10px black;
  width: 100%;
  border: none;
}
input {
  outline: none;
  color: hsl(234, 39%, 85%);
  padding: 25px;
}
.todos {
  width: 100%;
}
.todos__lista {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todos__lista input {
  width: 100%;
  background-color: hsl(235, 24%, 19%);
  border-bottom: solid 1px hsl(235, 14%, 33%);
}
.todos__lista div {
  width: 35%;
  background-color: hsl(235, 24%, 19%);
  border-bottom: solid 1px hsl(235, 14%, 33%);
}
